

@font-face {
  font-family: Roxborough-CF;
  src: url(./fonts/Roxborough-CF.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roxborough-CF", sans-serif;
  scroll-behavior: smooth;
}

*, body {
  box-sizing: border-box; 
}


/* LANDING SECTION */
section.landing {
  height: 100vh;
  width: 100v;
  box-sizing: border-box;

  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position-x: center;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.landing > div.image-attributes {
  position: absolute;
  bottom: 0;
  right: 0;
}

section.landing > div.image-attributes > p {
  color: white;
  font-size: 8px;
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
}

section.landing > div.image-attributes > p > a {
  color: white;
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  color: white;
}

/* EUNOIA BY ARYAVANI TITLE */
header > h1 {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 700;
}

div.header__contact {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 2rem 0;
}

header > a:hover {
  cursor: pointer;
}



/* NAV */
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav > ul > li {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-transform: uppercase;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
}



/* ABOUT SECTION */
section.about {
  background-color: #F1E9E2;
  text-align: center;
  padding: 2rem;
  position: relative;
}

section.about > h2 {
  margin: 0 0 0.8rem 0;
  font-size: clamp(1.2rem, 2vw, 2rem);
}

section.about > p {
  max-width: 800px;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin: 1.2rem auto;
}

section.about > img {
  position: absolute;
  left: 2rem;
  bottom: 0rem;
}



/* UNIVERSAL CLASSES */
.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
