@font-face {
  font-family: Roxborough-CF;
  src: url('./fonts/Roxborough-CF.ttf');
}

:root {
  --primary: #51645e;
  --primary-faded: #7b968d;
  --secondary: #F1E9E2
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roxborough-CF", sans-serif;
  scroll-behavior: smooth;
}

*,
body {
  box-sizing: border-box;
}


/* LANDING SECTION */
section.landing {
  height: 100vh;
  width: 100v;
  box-sizing: border-box;

  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position-x: center;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  position: relative;
}

section.landing>div.image-attributes {
  position: absolute;
  bottom: 0;
  right: 0;
}

section.landing>div.image-attributes>p {
  color: white;
  font-size: 6px;
  padding: 0;
  margin: 2rem 0;
  letter-spacing: 1.5px;
}

section.landing>div.image-attributes>p>a {
  color: white;
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  color: white;
}


/* EUNOIA BY ARYAVANI TITLE */
header>h1 {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 700;
}

div.header__contact {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin: 2rem 0;
}

div.header__website-gist {
  color: white;
  font-size: clamp(2rem, 4vw, 3rem);
  position: absolute;
  bottom: 2rem;
  left: 5%;
}

header>a:hover {
  cursor: pointer;
}


/* NAV */
nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav>ul>li {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-transform: uppercase;
}

nav>ul>li>a {
  text-decoration: none;
  color: white;
}



/* ABOUT THE THERAPIST SECTION */
section.therapist {
  background-color: var(--primary);
  color: white;
  border-radius: 1rem 1rem 0 0;
  transform: translateY(-1.5rem);
}

section.therapist>div.therapist__inner {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  section.therapist>div.therapist__inner {
    flex-direction: row;
    align-items: center;
  }
}

.therapist-img {
  padding-top: 1rem;
  height: auto;
  max-width: 30%;
  max-height: 350px;
  margin: 0 auto;
}

div.therapist-info {
  padding: 0.5rem 2rem 2rem 2rem;
}

h2.therapist__heading {
  margin: 0 0 0.8rem 0;
  font-size: clamp(1.2rem, 2vw, 1.8);
  text-align: center;
}

p.therapist-info__text {
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  padding-bottom: 1.2rem;
  margin: 0;
  text-align: center;
}



/* ABOUT EUNOIA SECTION */
section.about {
  background-color: var(--secondary);
  text-align: center;
  padding: 2rem;
  transform: translateY(-1.5rem);
}

section.about>h2 {
  margin: 0 0 0.8rem 0;
  font-size: clamp(1.2rem, 2vw, 1.8);
}

section.about>p {
  max-width: 800px;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  margin: 1.2rem auto;
}

/* TESTIMONIALS */
section.testimonials {
  background-color: var(--primary);
  transform: translateY(-1.5rem);
  border-radius: 0 0 1rem 1rem;

  
  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  h2 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 2rem 0;
  }
  
  div {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: auto;
    padding: 0 2rem 2rem 2rem;

    .testimonial-card {
      background-color: var(--secondary);
      max-width: 400px;
      min-width: 300px;
      text-align: center;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 1rem;
      position: relative;
      font-family: 'Open sans', sans-serif;
      font-size: clamp(0.8rem, 1.2vw, 1rem);

      p:nth-child(1) {
        margin-bottom: 2rem;
      }

      p:nth-child(2) {
        font-style: italic;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/* TOPMATE BUTTON */
.topmate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.book-session-btn {
  border-radius: 2rem;
  border: 0;
  padding: 1rem 2rem;
  font-family: "Roxborough-CF", sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  transition: background-color 100ms ease-in-out;
  letter-spacing: 1.1px;
}

.book-session-btn:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--primary);
}


/* UNIVERSAL CLASSES */
.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}